.Board {
  max-width: var(--board-max-width);
  position: relative;
  z-index: var(--z-borad);
  transform: translateZ(0px);
  -webkit-transform: translateZ(0px);
  aspect-ratio: 1;
  border-radius: 16px;
  background: linear-gradient(
    180deg,
    #eeeae6 1.03%,
    #daf7a8 0.06%,
    #9db7c8 76.53%,
    #ffef5b 99.8%
  );
  box-shadow: 0px 10px 13.9px 1px rgba(181, 136, 0, 0.58);
  overflow: hidden;
  backface-visibility: hidden;
  transform: perspective(1000px) rotate3d(1, 1, 0, 10deg);
}

.BoardHeader {
  display: flex;
  justify-content: center;
  max-width: var(--board-max-width);
  color: #364960;
  border-radius: 8px;
  padding-left: var(--s-md-0);
  padding-right: var(--s-md-0);
}

.BoardHeader h2 {
  margin: 0;
}

.BoardSurface {
  margin: 4px;
  aspect-ratio: 1;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  border-radius: 16px;
  overflow: hidden;
}

.BoardBlendFilter {
  position: absolute;
  top: 6px;
  left: 4px;
  width: calc(100% - 8px);
  height: calc(100% - 8px);
  border-radius: 16px;
  background: linear-gradient(161deg, #2a1c1c 4.99%, #585e4a 79.73%);
  mix-blend-mode: hue;
  pointer-events: none;
}

.SquarePiece {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border: 1px dotted var(--clr-primary-outline);
  border-left: none;
  border-top: none;
  cursor: pointer;
  background: linear-gradient(
    180deg,
    #d7d0be -24.79%,
    #e7d4ba -9.26%,
    #bfb792 99.43%
  );

  box-shadow: 0px 1px 4px 0px #c2ef83 inset;
  animation: square-piece 1s;
}
.SquarePiece > img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(calc(-50% + 1px), calc(-50% + 2px));
  animation: square-piece-im 0.2s ease-out forwards;
}

.WinnerBoard {
  animation: shake-board 1s ease-out forwards;
}

.WinnerBoard .NotWinner img {
  animation: not-winner 1.2s ease-out forwards;
}
.WinnerBoard .NotWinner::before {
  transition: transform 0.3s 0.9s ease-out;
  transform: scale(0);
}
.WinnerBoard .Winner img {
  animation: shake 0.4s 4 ease-out alternate-reverse forwards;
}

.SquarePiece::before {
  content: "";
  display: block;
  width: 60px;
  height: 60px;
  aspect-ratio: 1/1;
  border-radius: 6px;
  background: linear-gradient(180deg, #e9b416 0%, #ffd755 100%);
  box-shadow: 0px 1px 8px 1px #b5a000 inset;
  filter: blur(0.10000000149011612px);
}

.SquarePiece:last-child {
  border: none;
}

.CurrentPlayerDisplay {
  /* color: var(--clr-accent-1); */
  margin-left: var(--s-sm-1);
  position: relative;
  z-index: 1;
}

.CurrentPlayerDisplay > ul {
  display: inline-block;
  position: absolute;
}

.CurrentPlayerDisplay > ul > li {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(0);
  filter: blur(4px);
}
.CurrentPlayerDisplay > ul > li:nth-child(1) {
  animation: display-item-1 0.5s ease-in 1 0.4s forwards;
}
.CurrentPlayerDisplay > ul > li:nth-child(2) {
  animation: display-item-2 0.4s ease-in 0.2s 1 forwards;
}
.CurrentPlayerDisplay > ul > li:nth-child(3) {
  animation: display-item-3 0.8s ease-in 0s 1 forwards;
}
.CurrentPlayerDisplay > ul > li:nth-child(4) {
  animation: display-item-4 0.6s ease-in 0.3s 1 forwards;
}
.CurrentPlayerDisplay > ul > li:nth-child(5) {
  animation: display-item-5 0.7s ease-in 0.1s 1 forwards;
}

.CurrentPlayerDisplayActive {
  position: absolute;
  top: 0;
  left: 0;
  animation: display-fade 0.4s ease-out infinite alternate forwards;
  opacity: 0;
}

@keyframes square-piece-im {
  0% {
    transform: translate(calc(-50% + 1px), calc(-50% + 2px)) scale(0);
  }

  100% {
    transform: translate(calc(-50% + 1px), calc(-50% + 2px)) scale(1);
  }
}

@keyframes not-winner {
  0% {
  }
  10% {
    transform: translate(calc(-50% + 1px), calc(-50% + 2px)) scale(1.4);
    filter: blur(8.2px);
  }

  70% {
    transform: translate(calc(-50% + 1px), calc(-50% + 2px)) scale(1.8);
    filter: blur(1.1px);
    opacity: 0.8;
  }

  100% {
    transform: translate(calc(-50% + 1px), calc(-50% + 2px)) scale(0);
    opacity: 0;
  }
}

@keyframes shake {
  0% {
    transform: translate(calc(-50% + 1px), calc(-50% + 2px));
  }
  5% {
    transform: translate(calc(-50% + 1px), calc(-50% + -8px)) scale(1.2);
  }
  100% {
    transform: translate(calc(-50% + 1px), calc(-50% + 2px));
  }
}

@keyframes shake-board {
  0% {
    transform: perspective(1000px) rotate3d(1, 1, 0, 10deg);
  }
  45% {
    transform: perspective(800px) rotate3d(1, 1, 0, -2deg);
  }

  100% {
    transform: perspective(1000px) rotate3d(1, 1, 0, 2deg);
  }
}

@keyframes display-fade {
  0% {
    transform: scale(1);
    opacity: 0.5;
  }
  20% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(1.4);
    opacity: 1;
  }
}

@keyframes display-strip {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes display-item-1 {
  0% {
    transform: translateX(0%) translateY(0) rotate(0deg) scale(0);
  }

  20% {
    transform: translateX(0%) translateY(0) rotate(45deg) scale(0.2);
  }
  80% {
    transform: translateX(-100%) translateY(0) rotate(30deg) scale(2.2);
    opacity: 1;
    filter: blur(0.2px);
  }
  100% {
    transform: translateX(20%) translateY(0) rotate(0deg) scale(0);
    filter: blur(3px);
  }
}

@keyframes display-item-2 {
  0% {
    transform: translateX(0%) translateY(0) rotate(0deg) scale(0);
  }

  20% {
    transform: translateX(0) translateY(0) rotate(0deg) scale(1.2);
  }
  80% {
    transform: translateX(200%) translateY(-80%) rotate(160deg) scale(3.2);
    opacity: 0.8;
    filter: blur(0.2px);
  }
  100% {
    transform: translateX(260%) translateY(-120%) rotate(170deg) scale(0);
    opacity: 0;
    filter: blur(3px);
  }
}

@keyframes display-item-3 {
  0% {
    transform: translateX(0%) translateY(0) rotate(0deg) scale(0);
  }

  30% {
    transform: translateX(0%) translateY(0) rotate(0deg) scale(0.4);
  }
  80% {
    transform: translateX(-300%) translateY(0) rotate(0deg) scale(2.4);
    opacity: 1;
    filter: blur(0.2px);
  }
  100% {
    transform: translateX(-320%) translateY(0) rotate(0deg) scale(0);
    filter: blur(3px);
  }
}

@keyframes display-item-4 {
  0% {
    transform: translateX(0%) translateY(0) rotate(0deg) scale(0);
  }

  40% {
    transform: translateX(0%) translateY(0) rotate(10deg) scale(0.6);
  }
  80% {
    transform: translateX(0%) translateY(0) rotate(0deg) scale(2.8);
    opacity: 1;
    filter: blur(0.2px);
  }
  100% {
    transform: translateX(20%) translateY(0) rotate(0deg) scale(0);
    filter: blur(3px);
  }
}

@keyframes display-item-5 {
  0% {
    transform: translateX(0%) translateY(0) rotate(0deg) scale(0);
  }

  20% {
    transform: translateX(0%) translateY(0) rotate(0deg) scale(0.2);
  }
  80% {
    transform: translateX(0%) translateY(100%) rotate(40deg) scale(1.8);
    opacity: 1;
    filter: blur(0.2px);
  }
  100% {
    transform: translateX(20%) translateY(180%) rotate(45deg) scale(0);
    filter: blur(3px);
  }
}
