.Dialog {
  width: 25vw;
  height: 300px;
  aspect-ratio: 1 / 1;
  border: none;
  border-radius: 8px;
  position: fixed;

  /* transform: translate(0, calc(100vh)); */
  margin-left: auto;
  margin-right: 0%;
  padding: 32px 56px 32px 32px;
  bottom: 0;
  right: 0;
  transition: transform 0.4s ease-in-out;
  z-index: var(--z-dialog);
}

.Dialog[data-is-modal="true"] {
  margin: auto;
  background-color: transparent;
  width: max-content;
  height: max-content;
  overflow: visible;
}

.Dialog[data-is-modal="true"]::backdrop {
  background-color: rgba(129, 145, 134, 0.5);
  mix-blend-mode: difference;
}

.DialogOpen {
  /* animation: slide-in 0.4s ease-in-out forwards;
  transform: translate(0, calc(100vh)); */
}

.DialogClose {
  animation: slide-out 0.4s ease-in-out forwards;
  transform: translate(0, calc(100vh + 100%));
}

.Dialog::backdrop {
  background-color: rgba(173, 228, 189, 0.4);
}

.Dialog li {
  padding: 16px;
  border-bottom: 1px dotted gray;
  cursor: pointer;
}

.Dialog > button {
  position: absolute;
  right: 16px;
  top: 16px;
}

@keyframes slide-in {
  0% {
    transform: translate(0, calc(100vh));
  }
  100% {
    transform: translate(0, calc(100vh - 100%));
  }
}

@keyframes slide-out {
  0% {
    transform: translate(0, calc(100vh + 100%));
  }
  100% {
    transform: translate(0, calc(100vh));
  }
}
