.Dialog {
  background: var(--grd-1);
  width: clamp(300px, 90%, 500px);
  height: 100%;
  aspect-ratio: 1 / 1;
  border: none;
  position: fixed;
  margin-left: auto;
  margin-right: 0%;
  padding: 48px 56px 32px 40px;
  bottom: 0;
  right: 0;
  transition: transform 0.4s ease-in-out;
  z-index: var(--z-dialog);
  transform-style: preserve-3d;

  --translate-slide-in-0: perspective(1000px) translate(100%, 0, 2000px);
  --translate-slide-in-100: perspective(1000px) translate(0, 0, 2000px);
  --translate-slide-out-0: perspective(1000px) translate(0, 0, 2000px);
  --translate-slide-out-100: perspective(1000px) translate(100%, 0, 2000px);
}

.Dialog[data-is-modal="true"] {
  margin: auto;
  background: transparent;
  width: max-content;
  height: max-content;
  overflow: visible;
}

.Dialog[data-is-modal="true"]::backdrop {
  background: rgba(129, 145, 134, 0.5);
  mix-blend-mode: difference;
}

.DialogOpen {
  animation: slide-in 0.4s ease-in-out forwards;
  transform: translate(0, calc(100vh));
}

.DialogClose {
  animation: slide-out 0.4s ease-in-out forwards;
  transform: translate(0, calc(100vh + 100%));
}

.Dialog::backdrop {
  background: rgba(173, 228, 189, 0.4);
}

.Dialog li {
  padding: 16px;
  border-bottom: 1px dotted gray;
  cursor: pointer;
}

.Dialog > button {
  position: absolute;
  left: 16px;
  top: 16px;
  border: none;
}

@keyframes slide-in {
  0% {
    transform: var(--translate-slide-in-0);
  }
  100% {
    transform: var(--translate-slide-in-100);
  }
}

@keyframes slide-out {
  0% {
    transform: var(--translate-slide-out-0);
  }
  100% {
    transform: var(--translate-slide-out-100);
  }
}

@container root-container ( width < 600px) {
  .Dialog {
    width: 100%;
    height: 90%;
    bottom: 0;
    left: 0;
    transition: transform 0.4s ease-in-out;
    z-index: var(--z-dialog);
    --translate-slide-in-0: perspective(1000px) translate(0, 100%, 2000px);
    --translate-slide-in-100: perspective(1000px) translate(0, 0, 2000px);
    --translate-slide-out-0: perspective(1000px) translate(0, 0, 2000px);
    --translate-slide-out-100: perspective(1000px) translate(0, 100%, 2000px);
  }
}
