.NavSecondary {
  padding: 32px 4px 32px 8px;
  position: fixed;
  bottom: 0;
  right: 0;
  border-radius: 8px 0px 0px 0px;
  border: 1px solid #000;
  background: linear-gradient(0deg, #2d393d 33.5%, #1b202a 100%);
  writing-mode: sideways-rl;
}

.NavSecondary > ul {
  display: flex;
  justify-content: space-between;
  gap: 32px;
}
