.WelcomeScreen {
  background-color: rgba(0, 0, 0, 0.1);
  z-index: 2;
  display: grid;
  place-items: center;
  transform-style: preserve-3d;
}
.WelcomeScreenCurtain {
  content: "";
  display: block;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 50%;
  left: 0;
  background-color: #222;
  transform: translateY(-50%) rotateX(360deg) translateZ(-44px) rotateX(0deg);
}

.WelcomeScreenOut .WelcomeScreenCurtain {
  animation: screen-out 2s forwards ease-in-out;
}

.WelcomeScreenOut button {
  animation: button-out 2s forwards ease-in-out;
}

.WelcomeScreenOut h1 {
  transition:
    opacity 0.8s 0.4s,
    transform 4s;
  opacity: 0;
  transform: scale(0.2);
}

.WelcomeScreenOut h1 span {
  animation: orbit 2s ease-in-out forwards !important;
}

@keyframes screen-out {
  from {
    height: 100vh;
    filter: blur(2px);
  }
  to {
    height: 0;
    filter: blur(8px);
  }
}

@keyframes button-out {
  from {
    filter: blur(0px);
  }
  to {
    filter: blur(20px);
  }
}

@keyframes orbit {
  from {
  }
  to {
    transform: translate(-50%, -50%) rotateY(160deg) rotateX(70deg);
  }
}
