main {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 80px 1fr 80px;
  grid-template-areas:
    ". . . . a a"
    "board board board board board board"
    "c c c c c c";
  height: 100vh;
}

#section-board {
  grid-area: board;
  align-content: center;
}

#canvas-fx {
  width: var(--board-max-width);
  aspect-ratio: 1/1;
  position: absolute;
  top: 0;
  left: 0;
  z-index: var(--z-canvas-fx);
  pointer-events: none;
  mix-blend-mode: plus-lighter;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.WinnerAnim h1 {
  opacity: 0;
  animation: winner-anim-title 1s 0.5s ease-in-out forwards;
}

@keyframes winner-anim-title {
  0% {
    transform: scale(4);
    opacity: 0;
  }
  100% {
    transform: scale(1.8);
    opacity: 1;
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}
