main {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 80px 1fr 80px;
  grid-template-areas:
    ". . . . a a"
    "board board board board board board"
    "c c c c c c";
  height: 100vh;
}

header {
  max-width: var(--board-max-width);
  height: 32px;
  color: #537b7e;
  border-radius: 16px;
  background: linear-gradient(180deg, #f0f7fb 0%, #cfe6df 18%, #b5c59b 100%);
  padding-left: var(--s-md-0);
  padding-right: var(--s-md-0);
}

#section-board {
  grid-area: board;
}

#nav-secondary {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  position: fixed;
  bottom: 0;
  right: 0;

  height: 400px;
  border-radius: 8px 0px 0px 0px;
  border: 1px solid #000;
  background: linear-gradient(0deg, #2d393d 33.5%, #1b202a 100%);
  writing-mode: vertical-rl;
  text-orientation: upright;
}

#canvas-fx {
  width: var(--board-max-width);
  aspect-ratio: 1/1;

  position: absolute;
  top: 0;
  left: 0;
  z-index: var(--z-canvas-fx);
  pointer-events: none;
  mix-blend-mode: plus-lighter;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}
