@layer reset {
  * {
    box-sizing: border-box;
  }
  body {
    margin: 0;
    padding: 0;
  }

  a {
    font-weight: 500;
    color: inherit;
    text-decoration: inherit;
  }

  ul,
  li {
    list-style: none;
    padding: 0;
    margin: 0;
  }
}

@layer base {
  body {
    min-height: 100vh;
    background: linear-gradient(
      181deg,
      #ffd52e 7.78%,
      #c1bf8e 40.03%,
      #e5ca81 70.88%,
      #c7c559 93.03%
    );

    background-blend-mode: plus-lighter, normal;
  }

  :root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    --s-sm-0: 4px;
    --s-sm-1: 8px;
    --s-sm-2: 16px;
    --s-md-0: 24px;
    --s-md-1: 32px;
    --s-md-2: 40px;

    --clr-primary-outline: pink;
    --clr-accent-1: #e90c0c;
    --clr-surface-container-1: #2d393d;
    --clr-surface-container-2: #1b202a;
    --grd-1: linear-gradient(
      0deg,
      var(--clr-surface-container-1) 33.5%,
      var(--clr-surface-container-2) 100%
    );

    --board-max-width: 480px;

    --z-board: 1;
    --z-nav-main: 999;
    --z-nav-secondary: 999;
    --z-welcome-screen: 1000;
    --z-canvas-fx: 1;
    --z-dialog: 998;

    --break-point-1: 600px;
  }

  #root {
    container: root-container / inline-size;
  }
}

@layer utils {
  .margin-center {
    margin-left: auto;
    margin-right: auto;
  }

  .m-v-sm-1 {
    margin-top: 8px;
    margin-bottom: 8px;
  }

  .full-screen {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
  }

  .flex-row-v-center {
    display: flex;
    align-items: center;
  }

  .f-w-600 {
    font-weight: 600;
  }

  .gap-sm-2 {
    gap: var(--s-sm-2);
  }
  .txt-center {
    text-align: center;
  }
}

button {
  border-radius: 8px;
  border: 1px solid white;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: transparent;
  cursor: pointer;
  transition: border-color 0.25s;
  outline: none;
}

button:focus,
button:focus-visible {
  outline: none;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.roboto-condensed {
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-weight: regular;
  font-style: normal;
}

.rubik-broken-fax-regular {
  font-family: "Rubik Broken Fax", system-ui;
  font-weight: 400;
  font-style: normal;
}

.displaylarge {
  font-family: "Rubik Broken Fax", system-ui;
  font-size: 57px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.12;
  letter-spacing: -0.25px;
}
.displaymedium {
  font-family: "Rubik Broken Fax", system-ui;
  font-size: 45px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.16;
  letter-spacing: normal;
}
.displaysmall {
  font-family: "Rubik Broken Fax", system-ui;
  font-size: 36px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.22;
  letter-spacing: normal;
}
.headlinelarge {
  font-family: "Rubik Broken Fax", system-ui;
  font-size: 32px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
}
.headlinemedium,
.post-detail h2 {
  font-family: "Rubik Broken Fax", system-ui;
  font-size: 28px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.29;
  letter-spacing: normal;
}
.headlinesmall {
  font-family: "Rubik Broken Fax", system-ui;
  font-size: 24px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
}
.titlelarge,
.from-notion h2 {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 22px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.27;
  letter-spacing: normal;
}
.titlemedium {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.15px;
}
.bodylarge {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.5px;
}
.titlesmall,
.from-notion {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: 0.1px;
}
.labellarge {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: 0.1px;
}
.bodymedium,
.post-detail h2 + ul {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: 0.25px;
}
.labelmedium {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 12px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: 0.5px;
}
.bodysmall {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: 0.4px;
}
.labelsmall {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 11px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.45;
  letter-spacing: 0.5px;
}
